<main class="row" style="width:800px; margin:auto;">
    <div class="container">
        <form class="form" name="myForm1" modelAttribute="loginDTO">
            <h2 class="text-center" style="font-weight:bold;">Đổi mật khẩu</h2>
            <div class="flex-column">
                <label style="color: #151717;font-weight: 600;">MẬt khẩu cũ</label>
            </div>
            <div class="inputForm">
                <svg xmlns="http://www.w3.org/2000/svg" width="20"
                     viewBox="0 0 32 32" height="20">
                    <g data-name="Layer 3" id="Layer_3">
                        <path d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"></path>
                    </g>
                </svg>
                <input placeholder="Nhập mật khẩu cũ" name="oldPassword" type="{{inputType}}" path="oldPassword"
                       class="input" type="text" required maxlength="250" ng-model="form.oldPassword">
                <span ng-show="myForm1.$submitted || myForm1.oldPassword.$dirty">
                                                                    <span class="error"
                                                                          ng-show="myForm1.oldPassword.$error.required"> <i
                                                                            class="fa fa-exclamation-circle"></i>Mật khẩu cũ không được trống</span>
                                                                </span>
            </div>


            <div class="flex-column">
                <label style="color: #151717;font-weight: 600;">Password mới</label>
            </div>
            <div class="inputForm">
                <svg xmlns="http://www.w3.org/2000/svg" width="20"
                     viewBox="-64 0 512 512" height="20">
                    <path d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0"></path>
                    <path d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0"></path>
                </svg>
                <input type="{{inputType}}" path="newPassword" placeholder="Nhập mật khẩu mới" class="input" ng-model="form.password" name="password"
                       required ng-minlength="6" ng-maxlength="250" maxlength="250"
                        ng-model="form.password">
                <span ng-show="myForm1.$submitted || myForm1.newPassword.$dirty">
                    <span class="error" ng-show="myForm1.newPassword.$error.required"> <i class="fa fa-exclamation-circle"></i>Mật khẩu không được trống</span>
                    <span class="error" ng-show="((myForm1.newPassword.$error.minlength || myForm1.newPassword.maxlength) || form1.newPassword.$error.$dirty)">
                                                <i class="fa fa-exclamation-circle"></i>Mật khẩu phải từ 6 - 250 ký tự</span>
                </span>
            </div>

            <div class="flex-column">
                <label style="color: #151717;font-weight: 600;">Xác nhận Password mới</label>
            </div>
            <div class="inputForm">
                <svg xmlns="http://www.w3.org/2000/svg" width="20"
                     viewBox="-64 0 512 512" height="20">
                    <path d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0"></path>
                    <path d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0"></path>
                </svg>
                <input type="{{inputType}}"  placeholder="Xác nhận mật khẩu" class="input" ng-model="form.password_verify" name="confirmPassword" path="confirmPassword"
                       required ng-minlength="6" ng-maxlength="250" maxlength="250">
                <span ng-show="myForm1.$submitted || myForm1.confirmPassword.$dirty">
                    <span class="error" ng-show="myForm1.confirmPassword.$error.required"> <i class="fa fa-exclamation-circle"></i>Mật khẩu không được trống</span>
                    <span class="error" ng-show="((myForm1.confirmPassword.$error.minlength || myForm1.confirmPassword.maxlength) || form1.confirmPassword.$error.$dirty)">
                                                <i class="fa fa-exclamation-circle"></i>Mật khẩu phải từ 6 - 250 ký tự</span>
                </span>
            </div>
            <div class="form-group d-flex">
                <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()"/>
                <label for="checkbox" ng-if="passwordCheckbox">Ẩn mật khẩu</label>
                <label for="checkbox" ng-if="!passwordCheckbox">Hiển thị mật khẩu</label>
            </div>
            <button class="button-submit1" ng-click="changePassword()"
                    style="align-self: flex-end;">Đồng ý
            </button>
            <button class="button-submit1"
                    style="align-self: flex-end;">Hủy Bỏ
            </button>

        </form>
    </div>


</main>